.skeletonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: min-content;
  opacity: 0.6;
}
.skeletonContainerFull {
  width: 100%;
}
.bone {
  display: block;
  border-radius: 3px;
  animation: shimmer 1s ease-in-out infinite;
  animation-direction: alternate;
}

.boneCircle {
  border-radius: 500px;
}

.skeletonGroup {
  display: flex;
  gap: 0.5rem;
}

.skeletonStack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes shimmer {
  from {
    filter: brightness(40%);
  }

  to {
    filter: brightness(100%);
  }
}
